section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

#about{
  position: relative;
}

.about-pic {
  border-radius: 2rem;
  height: 300px;
  width: auto;
}

.text{
  display: flex;
  align-items: center;
  justify-content: center;
}